@import "~bootstrap/dist/css/bootstrap.min.css";

.text-center {
  font-size: 150px;
}
#randomSuitBottom {
  transform-origin: 72% 60%;
  transform: rotate(-180deg);
  text-align: center;
}
#cardWhole {
  border-radius: 5%;
  width: 500px;
  height: 700px;
}
