@import "~bootstrap/dist/css/bootstrap.min.css";
.text-center {
  font-size: 150px;
}
#randomSuit2 {
  transform-origin: 72% 60%;
  transform: rotate(-180deg);
  text-align: center;
}
.card-whole {
  border-radius: 4%;
}
